@charset "UTF-8";
body {
    background: linear-gradient(to right, #ff00ff, #00ffff); /* Degrade com as duas cores escolhidas */
    color: blue;
    font-size: 10pt; 
    font-family: Arial;
    text-align: center; 
}

h1 {
    font-size: 30px; /* Corrigido para "font-size" */
    color: black;
    font-family: Times New Roman; /* Corrigido para "font-family" */
}

h2 {
    font-size: 30px;
    color: black;
    font-family: Times New Roman; /* Corrigido para "font-family" */
}

a {
    color: blue;
    text-decoration: none; /* Remover linha sublinhada */
}
