@charset "UTF-8"
body{
  background-color: black;
  color: blue;
  front-size: 10 pts;
  font-family: Arial;
}
title{
  background-color: white;
  color: black;
  front-size: 30 pts;
  font-family: Times New Roman;
}
