@charset "UTF-8"
body{
  background-color: #DCDCDC;
  color:#000000;
  front-size: 10 pts;
  font-family: Arial;
}
{
  background-color: white;
  color: black;
  front-size: 30 pts;
  font-family: Times New Roman;
}
